/venv/
/runtime_dir*/
/torch_dataset/
/.idea/
*/__pycache__/
/__pycache__/
/slurm-*.out
/venv1/
/miscellaneous/scd_delivery/main/scd_modules/pre_trained_models/signature_net.pt
/miscellaneous/scd_delivery/main/scd_modules/pre_trained_models/similarity_net.pt
